.header {
  margin-bottom: 57px;
  background-color: var(--clr-primary-dark);
}

.header__container {
  align-items: center;
  padding: 20px 15px;
}

.nav__list {
  justify-content: space-between;
  min-width: 200px;
}

.header__logo {
  width: 40px;
  margin-right: 8px;
}

.header__caption {
  color: var(--clr-accent);
  font-size: 22px;
}

.header__descr {
  margin-left: auto;
}