.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: url('assets/bg-react-half-logo.svg') no-repeat right 50%;
  background-size: 15%;
}


.footer {
  margin-top: auto;
}