:root {
  --clr-primary: #282D35; 
  --clr-primary-dark: #21222A;
  --clr-base-min: #fff;
  --clr-accent: #61DAFB;
}

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	max-width: 100%;
}


body {
	font-family: Inter, Arial, Verdana, sans-serif;
  margin: 0;
  background-color: var(--clr-primary);
  color: var(--clr-base-min);
}

/* glob */
.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.flex {
  display: flex;
}

.container {
  flex: 1;
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
  width: 100%;
}

h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}